html {
    font-size: 62.5%;
}

h1 {
    color: green;
    font-size: 5rem;
}

button {
    color: red;
}

#self-image {
    border: 5rem solid black;
    border-radius: 4rem;
}

.top-buttons {
    width: 10rem;
    height: 10rem;
    margin: 5rem;
    border-radius: 5rem;
}

div {
    margin: 5rem;
}

.bottom-buttons {

    width: 15rem;
    height: 15rem;
    margin: 5rem;
    padding: 5rem 10rem 15rem 20rem;
    color: blue;
    border-radius: 1rem;
}

#contact-page-button {
        padding: 5rem;
        background-color: aqua;
        border-style: dotted;
        border-radius: 2rem;
    }

ul {
    font-size: 5rem;
}

ol {
    font-size: 3rem;
    color: gold;
}